<!DOCTYPE html>
<html>
<head>
    <title>Society</title>
    <link href="https://fonts.googleapis.com/css2?family=Roboto+Condensed&display=swap" rel="stylesheet">
    <style>
            *{
                font-family: 'Roboto Condensed', sans-serif;
            }
            table, th, td {
            border: 1px solid black;
            }
    </style>
    
</head>
<body>
    <h1>Society</h1>
    <h3 id="username"><%= username%></h3>
    <button id="get-personal">Personal details</button>
    <button id="get-farmer">Farmer details</button><br>
    <button id="get-farmer">Farmer details</button>
    
    <!-- <form id="create-form">
        <input type="text" id="create-input">
        <button>Create/POST</button>
    </form> -->
    <hr>
    <table>

        <thead>
            
        </thead>
        
        <tbody>
            
        </tbody>

    </table>

    <script src="../js/jquery.js"></script>
    <script src="../js/scripts.js"></script>

</body>
</html>